table{
    width: 100%;
}

.container[_ngcontent-wpm-c100] .form-container[_ngcontent-wpm-c100]{
    display: block;
}

.container[_ngcontent-wpm-c100] {
    height: calc(100vh - 64px);
    margin: 20px;
    justify-content: center;
}

.container[_ngcontent-yde-c100] .form-container[_ngcontent-yde-c100] .form-btn-container[_ngcontent-yde-c100] {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.form-btn-container[_ngcontent-yde-c100]{
    margin-bottom: 20px;
}